<h1>Django Google login</h1>
<h3>登入</h3>

<form action="" method="POST">

    {% csrf_token %}
    {{ form }}

    <!-- <input class="btn btn-primary" type="submit" value="test" />   -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="788899683899-n521hvdtne10hm8oubd32545642df461.apps.googleusercontent.com">

    <!-- <a class="btn btn-danger"">Google登入</a>    -->
    <div class="g-signin2" data-onsuccess="onSignIn"> Google登入</div>

    <p>還沒有帳號嗎? <a>註冊</a></p>

</form>



<!-- http://127.0.0.1:8000/accounts/google/login -->

